<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
  </head>
  <body>
    <h1>Registration</h1>
    <form action="/register" method="POST" onsubmit="return validatePassword()">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br /><br />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <input type="submit" value="Register" />

      <div id="error_message"></div>
    </form>

    <script>
      function validatePassword() {
        const password = document.getElementById("password");
        const error_message = document.getElementById("error_mesage");
        const passwordRegex =
          /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$/;
        if (!passwordRegex.test(password)) {
          // Password format is invalid
          error_message.innerHTML = "Password too weak!";
          error_message.style.color = "red";
          return false;
        } else {
          return true;
        }
      }
    </script>
  </body>
</html>
